/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  /* text-align: center; */
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}
.flex-down {
  display: flex;
  flex-direction: column;
}

.margin-left {
  margin-left: 10px;
}
button {
  margin: 0 5px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.header {
  padding: 30px 80px;
  background: #333;
  color: white;
}

.header p {
  font-size: 14px;
}

.header a {
  color: darkcyan;
  text-decoration: none;
}

.header .selected-sort {
  font-weight: bolder;
}

.entries {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 80px;
}

.entry {
  /* border: thin solid black; */
  padding: 20px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
}

.entry .meta-data {
  width: 50%;
  min-width: 50%;
}

.entry .headline {
  font-size: 38px;
  text-align: right;
}

.entry p {
  font-size: 12px;
  margin-left: 10px;
}

.links {
  text-align: right;
}

.entry .links,
.entry .edition {
  justify-content: flex-end;
}

.entry .links a {
  margin-left: 10px;
  color: darkcyan;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .entries,
  .header {
    padding: 20px;
  }
  .entry {
    display: flex;
    flex-direction: column;
  }
  .entry .meta-data {
    width: 100%;
  }
}
